html {
  position: relative;
  height: 100%;
  font-family: "Inconsolata"; }

body {
  background-image: url("bg.jpg");
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: table; }

*:focus {
  outline: none; }

#drag-1 {
  background-color: #e1e3ce;
  border: 2px solid;
  border-color: #597581;
  border-radius: 0em;
  position: absolute;
  height: auto;
  width: 97px;
  top: 315px;
  left: 795px;
  color: #597581;
  padding: 4px;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }

#drag-3 {
  min-height: 75px;
  background-color: #e1e3ce;
  border: 2px solid;
  border-color: #597581;
  border-radius: 0em;
  position: absolute;
  height: 75px;
  width: 460px;
  top: 135px;
  left: 225px;
  color: #597581;
  padding: 4px;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }

.resize-drag {
  background-color: #e1e3ce;
  color: #597581;
  /* This makes things *much* easier */
  box-sizing: border-box; }

#drag-2l {
  min-height: 28px;
  background-color: #e1e3ce;
  border: 2px solid;
  border-color: #597581;
  border-radius: 0em;
  position: absolute;
  height: 30px;
  width: 360px;
  top: 165px;
  left: 215px;
  color: #597581;
  padding: 4px;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }

.resize-drag {
  background-color: #e1e3ce;
  color: #597581;
  /* This makes things *much* easier */
  box-sizing: border-box; }

#drag-2 {
  min-height: 28px;
  background-color: #e1e3ce;
  border: 2px solid;
  border-color: #597581;
  border-radius: 0em;
  position: absolute;
  height: 30px;
  width: 360px;
  top: 65px;
  left: 565px;
  color: #597581;
  padding: 4px;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }

.resize-drag {
  background-color: #e1e3ce;
  color: #597581;
  /* This makes things *much* easier */
  box-sizing: border-box; }

#drag-4 {
  background-color: #e1e3ce;
  border: 2px solid;
  border-color: #597581;
  border-radius: 0em;
  position: absolute;
  height: auto;
  width: 490px;
  top: 235px;
  left: 75px;
  color: #597581;
  padding: 4px;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }

.resize-drag {
  background-color: #e1e3ce;
  color: #597581;
  /* This makes things *much* easier */
  box-sizing: border-box; }

/*.resize-container {
        width: 460px;
        height: 28px;
        }*/
h3 {
  font-size: 14px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0; }

.color1 {
  color: #597581;
  padding: 0; }

.color2 {
  color: #2a254d;
  padding: 0; }

.color3 {
  color: #944961;
  padding: 0; }

.color4 {
  color: #597581;
  padding: 0; }

.color5 {
  color: #8d7783;
  padding: 0; }

.color6 {
  color: #c7aa9c;
  padding: 0; }

.color7 {
  color: #474f62;
  padding: 0; }

.color8 {
  color: #477567;
  padding: 0; }

.color9 {
  color: #bb8172;
  padding: 0; }

.color10 {
  color: #473f7e;
  padding: 0; }

.color11 {
  color: #822b47;
  padding: 0; }

.color12 {
  color: #395c6b;
  padding: 0; }

.color13 {
  color: #5a4c53;
  padding: 0; }

.color14 {
  color: #8a5d46;
  padding: 0; }

.color15 {
  color: #263046;
  padding: 0; }

.colorb {
  color: #e1e3ce;
  padding: 0; }

.colorf {
  color: #1a1639;
  padding: 0; }

form {
  display: inline; }

input {
  display: inline;
  background: none;
  display: inline;
  border: none;
  color: #597581;
  font-size: 14px; }

a:link {
  color: #8d7783; }

a:visited {
  color: #8d7783; }

a:hover {
  color: #c7aa9c; }

a:active {
  color: #597581; }

/*# sourceMappingURL=style.css.map */
