$colorf: #d5c4a1;
$colorb: #1d2021;

$color0: #1d2021;
$color8: #665c54;

$color1: #fb4934;
$color9: #fe8019;

$color2: #b8bb26;
$color10: #aca936;

$color3: #fabd2f;
$color11: #f9a94d;

$color4: #83a598;
$color12: #bdae93;

$color5: #d3869b;
$color13: #ebdbb2;

$color6: #8ec07c;
$color14: #ddad0e;

$color7: #d5c4a1;
$color15: #fbf1c7;

