$colorf: #f4d9d0;
$colorb: #221f1d;

$color0: #221f1d;
$color8: #b16462;

$color1: #f1aeae;
$color9: #f1aeae;

$color2: #f3273e;
$color10: #f3273e;

$color3: #4f6b54;
$color11: #4f6b54;

$color4: #efdf5d;
$color12: #efdf5d;

$color5: #31463f;
$color13: #31463f;

$color6: #ed282a;
$color14: #ed282a;

$color7: #616e58;
$color15: #f4d9d0;

