$colorf: #ffffff;
$colorb: #182330;

$color0: #2e3440;
$color8: #707f9c;

$color1: #84d498;
$color9: #84d498;

$color2: #1cfa67;
$color10: #1cfa67;

$color3: #85fa8d;
$color11: #85fa86;

$color4: #1aa662;
$color12: #1aa662;

$color5: #23ff77;
$color13: #23ff77;

$color6: #50fa7b;
$color14: #50fa7b;

$color7: #707f9c;
$color15: #ffffff;

