html {
  position: relative;
  height: 100%;
  font-family: "Inconsolata"; }

body {
  background-image: url("bg.jpg");
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: table; }

*:focus {
  outline: none; }

#drag-1 {
  background-color: #1d2021;
  border: 2px solid;
  border-color: #fb4934;
  border-radius: 0em;
  position: absolute;
  height: auto;
  width: 97px;
  top: 315px;
  left: 795px;
  color: #83a598;
  padding: 4px;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }

#drag-3 {
  min-height: 75px;
  background-color: #1d2021;
  border: 2px solid;
  border-color: #fb4934;
  border-radius: 0em;
  position: absolute;
  height: 75px;
  width: 460px;
  top: 135px;
  left: 225px;
  color: #83a598;
  padding: 4px;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }

.resize-drag {
  background-color: #1d2021;
  color: #83a598;
  /* This makes things *much* easier */
  box-sizing: border-box; }

#drag-2l {
  min-height: 28px;
  background-color: #1d2021;
  border: 2px solid;
  border-color: #fb4934;
  border-radius: 0em;
  position: absolute;
  height: 30px;
  width: 360px;
  top: 165px;
  left: 215px;
  color: #83a598;
  padding: 4px;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }

.resize-drag {
  background-color: #1d2021;
  color: #83a598;
  /* This makes things *much* easier */
  box-sizing: border-box; }

#drag-2 {
  min-height: 28px;
  background-color: #1d2021;
  border: 2px solid;
  border-color: #fb4934;
  border-radius: 0em;
  position: absolute;
  height: 30px;
  width: 360px;
  top: 65px;
  left: 565px;
  color: #83a598;
  padding: 4px;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }

.resize-drag {
  background-color: #1d2021;
  color: #83a598;
  /* This makes things *much* easier */
  box-sizing: border-box; }

#drag-4 {
  background-color: #1d2021;
  border: 2px solid;
  border-color: #fb4934;
  border-radius: 0em;
  position: absolute;
  height: auto;
  width: 490px;
  top: 235px;
  left: 75px;
  color: #83a598;
  padding: 4px;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }

.resize-drag {
  background-color: #1d2021;
  color: #83a598;
  /* This makes things *much* easier */
  box-sizing: border-box; }

/*.resize-container {
        width: 460px;
        height: 28px;
        }*/
h3 {
  font-size: 14px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0; }

.color1 {
  color: #fb4934;
  padding: 0; }

.color2 {
  color: #b8bb26;
  padding: 0; }

.color3 {
  color: #fabd2f;
  padding: 0; }

.color4 {
  color: #83a598;
  padding: 0; }

.color5 {
  color: #d3869b;
  padding: 0; }

.color6 {
  color: #8ec07c;
  padding: 0; }

.color7 {
  color: #d5c4a1;
  padding: 0; }

.color8 {
  color: #665c54;
  padding: 0; }

.color9 {
  color: #fe8019;
  padding: 0; }

.color10 {
  color: #aca936;
  padding: 0; }

.color11 {
  color: #f9a94d;
  padding: 0; }

.color12 {
  color: #bdae93;
  padding: 0; }

.color13 {
  color: #ebdbb2;
  padding: 0; }

.color14 {
  color: #ddad0e;
  padding: 0; }

.color15 {
  color: #fbf1c7;
  padding: 0; }

.colorb {
  color: #1d2021;
  padding: 0; }

.colorf {
  color: #d5c4a1;
  padding: 0; }

form {
  display: inline; }

input {
  display: inline;
  background: none;
  display: inline;
  border: none;
  color: #83a598;
  font-size: 14px; }

a:link {
  color: #d3869b; }

a:visited {
  color: #d3869b; }

a:hover {
  color: #8ec07c; }

a:active {
  color: #fb4934; }

/*# sourceMappingURL=style-test.css.map */
